@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49409d
    lilas: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: #fff;
    width: 250px;
    height: 500px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px #00000450;

    transition: width .3s, heigth .3s;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url("../imagens/pexels-egor-kunovsky-17113991.jpg")no-repeat center center;
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

