@charset "utf-8";

header {
    width: 100%;
    height: 300px;
    text-align: center;
    border: 1px solid #000;
    
}

header > h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-top: 32px;
}

header > p {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.menu_cabecalho > li {
    display: inline-block;
}

.menu_cabecalho > li {
    list-style-type: none;
    margin: 0.7rem;
}

nav {
    margin-bottom: 1.8rem;
}



.links_cabecalho {
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    color: #000;
    font-weight: 500;

}

.link_btn{
    background-color: #ED4D1B;
    padding: 13px 45px;
    border: 2px solid #000;
    box-shadow: 4px 4px 0px 0px #1E1E1E;
    cursor: pointer;
}