.rodape__form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.rodape__form p {
    font-size: 2rem;
    font-weight: 500;
}

.rodape__form p:nth-child(2) {
    margin-bottom: 2rem;
}

.dados {
    padding: 0.9rem;
    width: 30%;
    border-radius: 0.2rem;
    border: none;
    outline: none;
    
}

.dados::placeholder {
    font-family:'Oswald', sans-serif ;
}

input {
    margin: 0.5rem;
}

.btn {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    padding: 0.9rem;
    width: 32%;
    border-radius: 0.2rem;
    background-color: #1A7993;
    color: #fff;
    margin: 1rem;
}

.rodape__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 3rem;
    text-align: center;
    margin: 10rem 0 5rem 0;
}

figure {
    display: flex;
    gap: 2rem;
}